@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    overflow-x: hidden; /* Evita desbordamientos horizontales */
}

/* Estilo del encabezado */
.header {
    display: flex;
    flex-direction: column; /* Apila el título y el buscador */
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.titulo {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #7E643B;
    text-align: center;
    margin-bottom: 20px;
}

.search-container { 
    position: absolute; /* Coloca el buscador en la esquina superior derecha */ 
    top: 100px; 
    right: 0; 
    display: flex; 
    align-items: center; 
    background-color: #EADAC6; 
    border-radius: 25px; 
    padding: 5px 10px; 
    width: 300px; 
} 

.search-container input { 
    border: none;
    background: white; 
    outline: none; 
    flex: 1; 
    font-size: 16px; 
    color: #b3a89d; 
    padding: 5px; 
    border-radius: 20px; 
} 

.search-input-container { 
    display: flex; 
    align-items: center; 
    width: 100%; 
}

.search-container button { 
    border: none; 
    background: none; padding: 0; /* Elimina espacios adicionales */ 
    margin-left: 9px;
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
} 

.search-container button img { 
    width: 20px; 
    height: 20px; 
    margin-left: 10px; 
    filter: invert(35%) sepia(15%) saturate(500%) hue-rotate(10deg) brightness(95%) contrast(85%); 
    transition: transform 0.2s ease; 
} 
    
.search-container button:hover img { 
    transform: scale(1.1); 
}

/* Contenedor principal */
.container {
    background-color: #EADAC6;
    width: 100%;
    max-width: 1300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    margin-bottom: 80px; /* Espacio de 50px debajo del contenedor */
    min-height: 670px; /* Ajusta el valor según lo que necesites */
   
}

.folio {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #7E643B;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 4px solid #7E643B;
}

.folio-number {
    color: #FF0000;
}

.form-columns {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas pequeñas */
}

.form-column {
    flex: 1;
    min-width: 280px; /* Ajusta el ancho mínimo para evitar desbordes */
}

.form-group {
    display: flex;
    align-items: center;
    background-color: #FCF5C7;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.form-group label {
    font-size: 17px;
    color: #7E643B;
    font-weight: bold;
    margin-right: 10px;
    flex: 1;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #d0bfa0;
    border-radius: 5px;
    flex: 2;
}

.estatus-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

.estatus-options button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.estatus-options .pending {
    background-color: #f9cc92;
    color: #7E643B;
}

.estatus-options .accepted {
    background-color: #f4b482;
    color: #7E643B;
}

.cost {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #7E643B;
}

.costo-aprox {
    font-family: "Poppins", sans-serif;
    color: #7E643B;
    font-weight: bold;
    font-size: 18px;
}

.estatus-btn {
    background-color: #F8CFA0;
    color: #F3770A;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 800px) {
    
    .search-container {
        position: static;
        width: 50%;
        margin-top: 20px;

    }

    .container {
        padding: 15px;
        margin-top: 50px;
    }

    .form-columns {
        flex-direction: column;
        gap: 20px;
    }

    .titulo {
        font-size: 20px;
    }
}

@media (max-width: 580px) {
    .titulo {
        font-size: 20px;
        
    }

    .search-container {
        position: static;
        width: auto;
        margin-top: 20px;
        
    }


    .container {
        padding: 10px;
    }

    .form-columns {
        flex-direction: column;
        gap: 10px; /* Reduce el espacio entre columnas */
    }
}
