@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    font-size: 1rem;
    font-weight: normal;
}

h1 {
    width: 100%;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 10px;
    color: #7E643B;
    margin-top: 50px;
}

.container {
    border: 1px solid #0000;
    width: 805px;
    margin: 5px auto;
    background-size: 120%; /* Aumenta el tamaño al 120% del contenedor */
    background-repeat: no-repeat;
    background-position: center;
}

.calendar {
    background: transparent;
    margin-top: 20px;
    position: relative;
}

#calendar {
    width: 103%;
    height: 460px; /* Ajusta el tamaño según lo que necesites */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilos del arreglo de números */
ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 110px;
    text-align: center;
    width: 42rem;
}

.nom-dia {
    font-size: 1rem;
    font-weight: bold;  /* Le da aspecto en negrita */
    text-align: center;
    position: relative;
    height: 30px;
}

/* Estilos de los números */
#numbers {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Dividir en 7 columnas (una por cada día de la semana) */
    gap: 18px; /* Separación entre días */
    list-style-type: none;
    padding: 0;
    margin: 26px;
}

#numbers li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; /* Tamaño del círculo */
    height: 30px; /* Tamaño del círculo */
    border-radius: 50%; /* Hacerlo circular */
    text-align: center;
    font-size: 14px;
}

#numbers li.current {
    background-color: blue;
    color: white;
}

#numbers li.closed {
    background-color: gray;
    color: white;
}

#numbers li.available {
    background-color: lightgreen;
    color: black;
}

#numbers li.empty-day {
    background-color: transparent;
    border: none;
}

.numbers:hover {
    cursor: pointer;
}

/* Leyenda */
.legend {
    margin-top: 20px;
    text-align: left;
}

.legend p {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.legend span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.legend .closed {
    background: #7a7979;
}

.legend .current {
    background: #4f5bfc;
}

.legend .available {
    background: #92f385;
}

/* Flechas de navegación */
.arrows {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px; /* Espacio entre las flechas */
}

.arrow {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #c0a061; /* Color de fondo */
    color: white; /* Color de texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;  
}

.arrow:hover {
    background-color: #a7854e; /* Color al pasar el cursor */
}

.desabilitado{
    background: rgb(142, 142, 142);
}

.desabilitado:hover{
    background: gray;
}

/* Días vacíos */
.empty-day {
    visibility: hidden;
}

.ambos {
    display: flex;
    gap: 200px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
        margin-top: 20px; /* Ajusta el margen superior para pantallas pequeñas */
    }

    ol {
        width: 95%;
        padding-top: 50px;
    }

    #calendar { 
        height: auto; /* Permitir que el calendario ajuste su altura */ 
        width: 100%;
        background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }

    #numbers { 
        margin: 0 auto; /* Asegurar que el calendario esté centrado */ 
        width: 100%; /* Asegurar que ocupe el ancho disponible */ 
        grid-template-columns: repeat(7, 1fr); 
        gap: 5px;
        /* Asegura que siempre haya 7 columnas */ 
    }

    #numbers li {
        width: 25px; /* Tamaño del círculo */
        height: 25px; /* Tamaño del círculo */
        font-size: 12px;
    }

    .arrows {
        flex-direction: row; /* Pone las flechas una al lado de la otra */
        justify-content: center; /* Centra las flechas */
        gap: 10px;
    }


    .legend p {
        font-size: 0.8rem;
    }

    .ambos {
        flex-direction: column;
        gap: 20px;
    }
}
