@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 1rem;
    font-weight: normal;
}
 
 
h1 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 50px 0 20px;
    color: #7E643B;
}

.main-container {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    padding: 40px;
    background-color: #EADAC6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}
 
 .container {
   width: 100%;
    margin: 20px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 form {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
 }

 .form label {
   font-size: 0.9em;
   margin-bottom: 5px;
   margin-top: 10px;
   display: block;
   color: #7A5A23;
}

label {
   font-size: 0.9em;
   margin-bottom: 5px;
   margin-top: 10px;
   display: block;
   color: #7A5A23;
   text-align: left; /* Asegura que las etiquetas estén alineadas a la izquierda */
   display: block; /* Mantén cada etiqueta en una línea separada */
}
 
/* Estilo para el campo de teléfono */
input[type="text"]#telefono {
   width: 50%; /* Asegura que el campo ocupe el ancho completo del contenedor */
   padding: 10px; /* Espaciado interno */
   font-size: 1rem; /* Tamaño de fuente */
   border: 10px solid #FCF5C7;
   border-radius: 5px; /* Bordes redondeados */
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
   outline: none; /* Quita el contorno azul predeterminado al enfocar */
   transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}


 input[type="text"], input[type="radio"] {
    margin-top: 5px;
    padding: 10px;
    border: 10px solid #FCF5C7; /* Borde */
    border-radius: 4px;
    font-size: 14px;
    display: block; /* Coloca cada elemento en una nueva línea */
    margin: 5px 0; /* Espacio entre cada campo */
    text-align: left; /* Alinea el texto del contenido a la izquierda */
 }

 .dosColumnas {
    display: flex;
    gap: 30px; /* Espacio entre columnas */
    justify-content: space-between; /* Ajustar el espacio entre columnas */
  }
  
  .columna {
    flex: 1; /* Ambas columnas ocupan el mismo ancho */
    max-width: 45%; /* Limita el tamaño máximo */
    display: flex;
    flex-direction: column; /* Apila filas verticalmente */
  }
  
  .fila {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido dentro de cada columna */
    text-align: center; /* Alinear el texto en el centro */
    padding: 12px;
    border-radius: 10px;
  }

  .mensajito{
    margin-top: 10px;
}

.error {
    color: rgb(200, 32, 32);
    font-weight: bold;
    font-size: 10px;
    margin: -5px 0 10px 10px;
}
 
 button {
   background-color: #FBAF35;
   color: #FFF;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: left;
   /* margin: 20px 0 0 auto; Mueve el botón hacia el lado derecho */
   width: fit-content;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

/*.botonCP{
    margin: 20px 0 0 auto;  Mueve el botón hacia el lado derecho
} */
 
 button:hover {
   transform: scale(1.1);
   box-shadow: 0 4px 10px #7E643B;
   cursor: pointer;
 }
 
 /*********/
 .botonCP {
    display: flex;
    justify-content: flex-start; /* Mueve el contenido hacia la izquierda */
    margin-top: 10px;
}

button#confirm-cp {
    margin: 0; /* Elimina márgenes adicionales */
}

/*************/

 .radio-group {
    margin-top: 10px;
 }
 
 #address-fields {
    margin-top: 20px;
    display: none;
 }
 

 #address-fields p {
    text-align: center; /* Alinea el texto del contenido a la izquierda */
    font-weight: bold;
}

 #address-fields a {
   color: #7A5A23;
    text-decoration: none;
    font-size: 14px;
    text-align: left; /* Alinea el texto del contenido a la izquierda */
}
 
 #address-fiels p:hover {
    text-decoration: underline;
    transform: scale(1.1);
    box-shadow: 0 4px 10px #7E643B;
    cursor: pointer;
 }
 
 
.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Estilo para la etiqueta */
.form-control label {
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
    color: #7A5A23;
    text-align: left;
}

/* Estilo para el select */
.form-control select {
    border: 3px solid #D9B87B;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Fondo claro */
    color: #333;
    transition: border-color 0.3s ease;
}

/* Cambia el borde al hacer hover */
.form-control select:hover {
    border: 3px solid #D9B87B;
    border-color: #D9B87B; /* Color que usaste en otros estilos */
}

/* Cambia el borde al enfocar el select */
.form-control select:focus {
    border-color: #D9B87B;
    outline: none;
    box-shadow: 0 0 5px rgba(217, 184, 123, 0.5); /* Sombra */
}


.checklist label {
   display: block;          /* Hace que cada opción esté en una línea separada */
   margin-bottom: 10px;     /* Espaciado entre las opciones */
   font-size: 16px;         /* Tamaño de fuente */
}  

