*{
    font-family: "Poppins", serif;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

body {  
    background: white; /* Fondo del sitio */
}

.flexi{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Hace que el diseño esté centrado en pantalla */
    margin-bottom: 10%;
}

/*Para el captcha*/
.captcha {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente si es necesario */
    margin: 100px 0;         /* Agrega un margen opcional para separación */
}

.contenedor {
    position: relative;
    background: #C6B8A2;
    border-radius: 22px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 35px;
    width: 100%;
    max-width: 400px; /* Ancho máximo */
    overflow: hidden;
}

.contenedor::before {
    content: '';
    position: absolute;
    top:  5px;
    left: 10px;
    width: 90%;
    height: 95%;
    background: white; /* Color secundario */
    border-radius: 22px;
    z-index: -1; /* Coloca este fondo detrás del contenido */
    transform: translate(10px, 10px); /* Desplazamiento para crear el efecto */
}

h2 {
    color: #FBAF35;
    text-align: center;
}

a{
    font-size: small;
    color: #955128;
}

label {
    color: #A09179;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    background: #E8D9C2;
    border: 1px solid #E8D9C2;
    border-radius: 4px;
    width: 80%;
    padding: 5px;
}

.mensajito{
    margin-top: 10px;
}

.error {
    color: rgb(200, 32, 32);
    font-weight: bold;
    font-size: 10px;
    margin: -5px 0 10px 10px;
}

.bien {
    color: rgb(73, 255, 89);
    font-weight: bold;
    font-size: 10px;
    margin: -10px 0 10px 10px;
}

.botoncito {
    background: #FBAF35;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px;
}

.botoncito:hover {
    background: #d9902e;
}

form {
    text-align: center;
}

.captcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Ajusta el margen según tus necesidades */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: #C6B8A2;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active {
    background-color: darkgoldenrod; /* Color más oscuro para resaltar */
  }
  

/* Media Queries para hacer el diseño responsive */
@media (max-width: 1200px) {
    .contenedor {
        max-width: 600px;
    }
}

@media (max-width: 992px) {
    .contenedor {
        max-width: 500px;
    }
}

@media (max-width: 768px) {
    .contenedor {
        max-width: 400px;
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .contenedor {
        max-width: 300px;
        padding: 5px;
    }

    input {
        width: 90%;
    }

    .flexi {
        margin-bottom: 20%;
    }
}

@media (max-width: 400px) {
    .contenedor {
        max-width: 350px;
        padding: 10px;
    }

    .botoncito {
        padding: 5px 10px; 
    }

    .captcha {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0; /* Ajusta el margen según tus necesidades */
    }
    
}
