*{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}
.flexi{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Hace que el diseño esté centrado en pantalla */
    margin-bottom: 0%;

}

.contenedor {
    margin-top: 80px;
    position: relative;
    background: #C6B8A2;
    border-radius: 22px;
    padding: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 100%;
    max-width: 400px; /* Ancho máximo */
    overflow: hidden;
}

.contenedor::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 10px;
    width: 90%;
    height: 92%;
    background: white; /* Color secundario */
    border-radius: 22px;
    z-index: -1; /* Coloca este fondo detrás del contenido */
    transform: translate(10px, 10px); /* Desplazamiento para crear el efecto */
}

h2{
    color: #FBAF35;
    text-align: center;
}

a{
    font-size: small;
    color: #955128;
}

label{
    color: #A09179;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    background: #E8D9C2;
    border: 1px solid #E8D9C2;
    border-radius: 4px;
    width: 70%;
    padding: 5px;
    
}

.mensaje{
    margin-top: 15px;
}

.error {
    color: rgb(200, 32, 32);
    font-weight: bold;
    font-size: 12px;
    margin: -10px 0 10px 10px;
}

.bien {
    color: rgb(73, 255, 89);
    font-weight: bold;
    font-size: 12px;
    margin: -10px 0 10px 10px;
}

.botoncito{
    background: #FBAF35;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    
    margin: 10px;
}

.botoncito:hover {
    background: #d9902e;
}

form {
    text-align: center;
}
