@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf8ee;
    display: flex;
}

/* Menú lateral */
.menu-lateral {
    position: fixed; /* Mantiene el menú fijo en la pantalla */
    top: 150px; /* Altura desde la parte superior */
    left: 25px; /* Separación desde la izquierda */
    width: 200px;
    background-color: #d9b485;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-lateral h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.menu-lateral ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
}

.menu-lateral ul li {
    margin: 8px 0;
}

.menu-lateral ul li a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 14px;
}

.menu-lateral ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
