.opciones{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fila {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente */
    align-items: center; /* Alinea verticalmente el label y el input */
    gap: 10px; /* Espaciado entre los elementos */
}

.fila .nota {
    margin-top: 10px; /* Espaciado entre la nota y los elementos de la fila */
    flex-basis: 100%; /* Asegura que el párrafo ocupe toda la fila */

}

.fila label {
    display: flex;
    align-items: center;
    gap: 11px; /* Espacio entre el botón y el texto */
    margin: 1%;
}
.blanca{
    font-size:small;
    background: none;
}

.fila input[type="radio"] {
    accent-color: #FBAF35; /* Cambia el color del botón radio */
    width: 20px;
    height: 20px;
    border-radius: 0; /* Esto elimina la forma circular */
    border: 2px solid #FBAF35; /* Añade un borde para darle forma de cuadrado */
}

#otrosRadio{
    width: 20px;
    height: 20px;
}

#otrosRadio:checked{
    width: 26px;
}

input[type="radio"]:checked {
    transform: scale(1.2); /* Aumenta el tamaño */
}

.paraOtros{
    background: white;
    border: 1px solid #E8D9C2;
    color: black;
    border-radius: 4px;
    padding: 5px;
    font-weight: normal;
    margin-left: 0px;
    width: 100%;
}

.paraMostrar{
    width: 100%;
}

.tam{
    width: 40%;
}

#fechaEntrega{
    width: auto;
}

.escribiendo {
    background: white;
    border: 1px solid #E8D9C2;
    border-radius: 4px;
    padding: 2%;
    width: 100%; /* Ajusta el ancho al contenedor */
    max-width: 300px;
    min-height: 90px; /* Altura mínima */
    max-height: 300px; /* Altura máxima, si deseas limitarla */
    resize: both; /* Permite ajustar tanto ancho como alto */
}

.porciones-wrapper {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
}

.boton-wrapper {
    display: flex;
    flex-direction: column; /* Coloca los botones uno encima del otro */
    margin-right: 10px; /* Espacio entre los botones y el input */
    margin-left: 10px;
}

.boton-wrapper button {
    background-color: #F8CFA0;
    border: none;
    color: white;
    font-size: 18px;
    padding: 2px;
    cursor: pointer;
}

.boton-wrapper button:hover {
    background-color: #ffb25a;
}

.porciones-wrapper input {
    width: 50px;
    text-align: center;
    margin: 16px;
}

textarea::placeholder {
    color: lightgray; /* Cambia esto al color que prefieras */
    font-size:small ;
}

/*Para las opciones de sabores*/

.custom-select {
    display: flex;
    align-items: center;
    position: relative;
}

.diseñandobutton {
    background-color: #F8CFA0;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.customizandoOpciones {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #E8D9C2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
}

.desborde{
    max-height: 178px;
    overflow-y: auto;
}

.customizandoOpciones .darOpciones {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.customizandoOpciones .darOpciones:hover {
    background-color: #FBAF35;
    color: white;
}

#agarrarValor {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #E8D9C2;
    border-radius: 4px;
    background-color: white;
    width: 85%;
}
