@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**/background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f4eb;
    color: #7a5a23;
  }
  
  .main-container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }
  
  /* Título de la página */
  .page-title {
    font-size: 2em;
    margin: 20px 0;
  }
  
  /* Tarjeta de perfil */
  .profile-card {
    background-color: #f0e9db;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-name {
    font-size: 1.5em;
    color: #7E643B;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
  }
  
  .details .left-column,
  .details .right-column {
    width: 45%;
    text-align: left;
  }
  
  label {
    font-size: 0.9em;
    margin-top: 10px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #d9b87b;
    border-radius: 5px;
    background-color: #fff;
    color: #7a5a23;
  }
  
  input[readonly] {
    background-color: #f8f4eb;
  }
  
  .save-button {
    background-color: #d9b87b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .save-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .editar{
    background-color: #d9b87b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .editar img {
    width: 20px;
    height: 20px;
    margin-right: 10px;