/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

h1 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 50px 0 20px;
    color: #7E643B;
}

.main-container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    padding: 40px;
    background-color: #EADAC6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.profile-card {
    width: 100%;
    margin: 20px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-button {
    background-color: #D9B87B;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 auto; /* Mueve el botón hacia el lado derecho */
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-button:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px #7E643B;
    cursor: pointer;
}

.save-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.user-info {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin-bottom: 20px;
}

.user-name {
    font-size: 1.5em;
    font-weight: 700;
    color: #7E643B;
    padding: 10px 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-column,.right-column {
    width: 60%;
}

.editarTel, .editarPas, .editarDir {
    background-color: #d9b87b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .editarTel:hover, .editarPas:hover, .editarDir:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px #7E643B;
    cursor: pointer;
}
  

label {
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
    color: #7A5A23;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #D9B87B;
    border-radius: 5px;
    background-color: #FFF;
    color: #7A5A23;
    font-size: 0.9em;
}

.detailsd {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-columnd,.right-columnd {
    width: 60%;
    padding: 40px;
}

/* Estilos generales para el contenedor */
.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Estilo para la etiqueta */
.form-control label {
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
    color: #7A5A23;
}

/* Estilo para el select */
.form-control select {
    border: 3px solid #D9B87B;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Fondo claro */
    color: #333;
    transition: border-color 0.3s ease;
}

/* Cambia el borde al hacer hover */
.form-control select:hover {
    border: 3px solid #D9B87B;
    border-color: #D9B87B; /* Color que usaste en otros estilos */
}

/* Cambia el borde al enfocar el select */
.form-control select:focus {
    border-color: #D9B87B;
    outline: none;
    box-shadow: 0 0 5px rgba(217, 184, 123, 0.5); /* Sombra */
}

/* Estilo para el texto debajo (p) */
.form-control p {
    font-size: 0.9rem;
    color: #666; /* Texto en gris */
    margin-top: 5px;
}

