@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS para la sección del banner */
.banner {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
    height: auto;
}

/* CSS para el contenido principal */
main {
    text-align: center;
    margin: 20px 0;
}

main h2 {
    font-size: 2em;
    color: #7E643B;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.seccion {
    width: 45%;
    margin: 10px 0;
}

.seccion h3 {
    font-size: 1.5em;
    color: #7E643B;
    margin-bottom: 10px;
}

.seccion img {
    width: 100%;
    height: auto;
}

/* Ajuste de la sección pasteles */
.pasteles {
    text-align: center; /* Centra la palabra PASTELES arriba */
}

.pasteles h3 {
    margin-right: 370px; /* Cambia el valor según lo que necesites */
    margin-bottom: 10px; /* Mantén el espacio inferior */
}



.contenedor-flex {
    display: flex; /* Alinea la imagen y el botón en la misma fila */
    align-items: center; /* Centra el botón verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
}

.contenedor-flex img {
    width: 70%; /* Ajusta el tamaño de la imagen */
    height: auto;
}

.personaliza {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5C99C;
    border: none;
    padding: 10px 20px; /* Reduce el tamaño del botón */
    margin-left: 10px; /* Mantén la separación */
    cursor: pointer;
    font-size: 0.9em; /* Reduce ligeramente el tamaño del texto */
    color: #7E643B;
    flex-shrink: 0;
    border-radius: 20px; /* Hace que los bordes sean redondeados */
    font-weight: 700; /* Negrita */
    transition: all 0.3s ease; /* Agrega transición suave para todos los cambios */


}
.personaliza:hover {
    background-color: #D0A974; /* Cambia el color de fondo cuando pasa el mouse */
    transform: scale(1.05); /* Aumenta el tamaño del botón ligeramente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

.personaliza img {
    margin-right: 5px; /* Reduce el espacio entre la varita y el texto */
    width: 55px; /* Ajusta el tamaño de la varita */
    height: 55px; /* Mantén las proporciones de la imagen */
}


/* CSS para la imagen de temporada */
.temporada img {
    width: 100%;
    height: auto;
}

/* CSS para el pie de página */
.piePa {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.piePa img {
    width: 100%;
    height: auto;
}

/* CSS para el banner de registro */
.registro-banner {
    background-color: #FCF5C7;
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
    color: #7E643B;
    margin: 0;
}
