@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Reset básico */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilos del Header */
header {
    background-color: #DDB97F; /* Color dorado/marrón */
    padding: 10px 0;
}

/* Contenedor principal del menú */
.menu nav {
    display: flex;
    justify-content: center; /* Centra todo el contenido horizontalmente */
    align-items: center; /* Alineación vertical */
    width: 100%;
    margin: auto;
}

/* Estilos para las listas del menú */
.menu nav ul {
    list-style: none;
    display: flex;
    gap: 120px; /* Espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos de las listas */
}

/* Estilos de los enlaces en las listas */
.menu nav ul li a {
    text-decoration: none;
    color: #7E643B;
    font-family: 'Poppins', sans-serif; /* Asegúrate de que Poppins se aplica aquí */
    font-weight: 700; /* Negrita */
    transition: color 0.3s;
}

.menu nav ul li a:hover {
    color: #fff; /* Efecto hover */
}

/* Logo centrado */
.logo {
    text-align: center;
    margin: 0 120px; /* Espacio entre el logo y las listas */
}

/* Tamaño del logo */
.logo img {
    height: 70px; /* Tamaño del logo */
    display: block;
}

/* Alineación de las imágenes (como el ícono de usuario) */
.menu nav ul li img {
    height: 40px; /* Tamaño del ícono */
    vertical-align: middle; /* Alinea las imágenes verticalmente */
}

/* Estilos para el menú derecho */
.menu-derecho {
    margin-left: 15px; /* Aumenta el espacio entre el logo y el menú derecho */
}
