.banner {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
    height: auto;
}

.registro-banner {
    background-color: #FCF5C7;
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
    color: #7E643B;
    margin: 0;
}
